.todo {
  border: 1px solid #26de81;
  background-color: #26de81;
  color: white;
  border-radius: 6px;
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  width: 100%;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
}

.add-todo-form {
  margin-bottom: 2rem;
  position: relative;
}

.input {
  padding: 0.25rem 1rem;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid gainsboro;
  height: 45px;
  flex-grow: 1;
}

.submit-button {
  padding: 0.25rem 1rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #fa8231;
  color: white;
  background-color: #fa8231;
  margin-left: 0.5rem;
  height: 45px;
}

.submit-button:hover {
  color: #fa8231;
  background-color: white;
  cursor: pointer;
}

.submit-button:focus,
.input:focus {
  outline: none;
}

.root {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.todos-title {
  color: gray;
  font-size: 14px;
  font-weight: 600;
  margin: 0.25rem 0;
}

.validation-error {
  font-size: 11px;
  color: red;
  bottom: -1.5rem;
  position: absolute;
  margin: 0;
}

.input-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
}
